* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  color: black;
}

header a {
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

.icons {
  width: 100%;
  padding: 16px 0;
  font-size: 1.5rem;
  gap: 1rem;
}

.icons a {
  color: black;

}

.icons a:hover {
  color: darkgreen;
  transition: 0.4s ease-in-out;


}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background: #fff;
  width: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  
  
}

nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop3 {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  padding-bottom: 7px;
  left: -94px;
  text-align: left;
  top: -34px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}
.drop2 {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  padding-bottom: 7px;
  left: -130px;
  text-align: left;
  top: -33px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
  color: darkgreen;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;

  }

  nav ul {
    display: flex;

  }

  nav li {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 2px;
    background: darkgreen;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

nav i {
  margin-left: 3rem;
  margin-bottom: 0;
  position: absolute;
  right: 100%;
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}

section {
  padding: 0 19%;
}

.hero-text h5 {
  font-size: 20px;
  font-weight: 10px;
  color: black;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-size: 40px;
  line-height: 1;
  color: black;
  margin: 0 0 45px;
}

.hero-text h4 {
  font-size: 19px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

.hero-img img {
  width: 450px;
  height: auto;
}

.hero-text a {
  display: inline-block;
  color: black;
  border: 2px solid darkgreen;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .35s ease;
  text-decoration: none;
}

.hero-text a:hover {
  background-color: darkgreen;
  border: 2px solid darkgreen;
  color: #fff;
  transform: translateY(8px);
}

@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 60px;
    margin: 0 0 30px;
  }

  .hero-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 560px;
    height: auto;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: darkgreen;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: 2px solid darkgreen;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  color: black;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: darkgreen;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  transition: 0.3s ease;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn i,
.nxt-btn i {
  font-size: 25px;
}

.pre-btn:hover i,
.nxt-btn:hover i {
  color: darkgreen;

}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}